:root {
    --purple: #682ae9;
    --light: #dbdbdb;
    --header-link: #dbdbdb;
    --header-link-hover: #682ae9;
    --header-link-hover-icon: #dbdbdb;
    --header-link-active: #555;
    --std-color: #dbdbdb;
    --bg: #6fadc774;
    --bg-rgb: 14,18,18;
    --bgLight: radial-gradient(var(--bg),transparent,var(--purple) 130%);
    --gray: grey;
    --comment: #555;
}

html {
    background: var(--bg);
    font-family: Roboto Mono,monospace;
    font-size: 100%;
    -webkit-hyphens: auto;
    hyphens: auto;
    word-break: normal;
    color: #888;
}

body {
  margin: 0;
}

section#autumns_tree {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-size: 100% 100%;
  position: relative;
  background-image: url(../asset/img/object/skyBackground.png);
}

section#autumns_tree svg {
  z-index: 1
}

.dot{
  width:25px;
  height:32px;
  position:absolute;
  background-image: url("../asset/img/autumn/leaf.svg");
  background-size: 100% 100%;
}

.cloud {
  width: 100%;
  height: 100%;
  background-size: 100% 100%;
  position: absolute;
  background: url(../asset/img/object/cloudAnimation.png) no-repeat;
}

#test {
  height: 1000px;
  width: 10px;
  position: relative
}